---
layout: default
title: Paul's Blog
---

<div class="grid-container">
  {% for post in site.posts limit: 6 %}
    {% if forloop.first %}
    <div class="grid-item grid-main-item">
    {% else %}
    <div class="grid-item">
    {% endif %}

    {% include preview.html %}
    </div>
  {% endfor %}
</div>


{% if site.posts.size > 6 %}

  <div class="pagination">
    <span>&laquo;</span>

    <a href="{{ "/" | relative_url }}" class="active">1</a>

    <a href="{{ "posts.html" | relative_url }}">2</a>

    {% if site.posts.size > 12 %}
    <a href="{{ "posts2/posts.html" | relative_url }}">3</a>
    {% endif %}

    <a href="{{ "posts.html" | relative_url }}">&raquo;</a>
  </div>

{% endif %}
