<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p class="footer-text">
                <a href="{{ "/imprint" | relative_url }}">Imprint</a> | <a href="{{ "/privacy" | relative_url }}">Privacy Declaration</a> | <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
            </p>
        </div>
        <div class="footer-right">
            <p class="footer-text">
                &copy; 2024 Paul's Fish Blog
            </p>
        </div>
    </div>
</footer>