<a href="{{ post.url | relative_url }}" class="p-post-anchor">
<div class="p-post-thumb">
{% if post.imgs %}
    {% for file in site.static_files %}
        {% if file.path contains post.imgs[0].path %}
            {% assign found = true %}
        {% endif %}
    {% endfor %}

    {% if found %}
        {% assign path = post.imgs[0].path %}
    {% else %}            
        {% assign path = "assets/img/imagenotfound.webp" %}
    {% endif %}
    <img src="{{ path | relative_url }}" class="p-post-thumb" alt="{{ post.title }}">
{% endif %}
<div class="p-post-thumb-text">
<h3 class="p-post-title">{{ post.title }}</h3>
<hr class="thumb">
<h5 class="p-post-date">{{ post.date | date: "%d.%m.%Y" }}</h5>
</div>
</div>
</a>

    
