---
---

{% include head.html %}

<body class="backdrop">
    <div class="p-header container">
        <a href="{{ "/" | relative_url }}" class="p-banner-anchor">
        <div class="p-header-banner">
            <img src="{{ "assets/img/banner_a.png" | relative_url }}" class="p-banner closed" alt="Fish Banner">
            <img src="{{ "assets/img/banner_open.png" | relative_url }}" class="p-banner on-top open" alt="Fish Banner with open mouth">
        </div>
        </a>
        <div class="p-header-title">
            <h1 class="p-title">Mit Meehan ans Meer ran</h1>
        </div>
    </div>
    <div class="content">
        {{ content }}
        <hr>
        {% include footer.html %}
    </div>
</body>
